<div class="container">
    <div class="row">
        <div class="col-md-3 no-float">
          <button type="button" class="btn btn-default" ng-click="home.open()">Add Room</button>
          <div class="row" ng-repeat="room in home.rooms">
              <div class="col-md-12">
                <a class="btn btn-primary" ng-click="home.getMessages(room)">{{room.$value}}</a>
              </div>
          </div>
        </div>

        <div class="col-md-9 no-float">
          <div class="row">
            <div class="col-md-12" id="room-title">{{home.currentRoom.$value}}</div>
            <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="home.newMessage.content" style="width:500px;">
						<button class="btn-new-message" type="button" ng-click="home.sendMessage()">Send message</button>
          </div>
          <div class="row message" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="message in home.messages">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-10">
                  {{message.username}}
                </div>
                <div class="col-md-2">
                  {{message.sentAt | date:'short'}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  {{message.content}}
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
</div>
